@use "../../assets/variables" as *;
@use "../../assets/mixins" as *;

.editor {
  legend,
  label {
    color: var(--light-3);
    display: flex;
    font-size: 14px;
    align-items: center;
    margin-top: 1rem;
  }
  legend {
    padding-top: 1.5rem;
  }
}

.info {
  display: flex;
  align-items: center;
}

.colors {
  display: flex;
}

.description {
  font-size: 14px;
  margin: 0.5rem 0 1rem 0;
  color: var(--light-2);
}

.codeStatus {
  font-size: 12px;
  color: var(--light-2);
  min-height: 1em;
  display: block;
  margin: 0.25rem 0 0.5rem 0;
}

.codeStatusInvalid {
  font-size: 12px;
  color: #f05d5e;
  min-height: 1em;
  display: block;
  margin: 0.25rem 0 0.5rem 0;
}

.advancedActions {
  display: flex;
  justify-content: flex-start;
  margin: 0.25rem 0 0.5rem 0;
}

.hiddenInput {
  display: none;
}
